node_modules/**
package-lock.json
src/**
tests/**
docs/**
scripts/**
**/*.map
tsconfig.json
tsconfig.*.json
tsconfig.*.ts
tsconfig.*.js
tsconfig.*.cjs
tsconfig.*.mjs
*.ts
*.tsx
*.mts
*.cts
*.md
!README.md
!LICENSE
!language-configuration.json
!syntaxes/**
!dist/**
!icon.png
!icon.ico
